/* Dark mode*/
.pic_darkmode {
  display: none;
}
.pic_lightmode {
  display: block;
  width: 60%;
  margin: auto;
}
@media (prefers-color-scheme: dark){
  .pic_lightmode {
    display: none;
  }
  .pic_darkmode {
    display: block;
    width: 60%;
    margin: auto;
  }
  h1, h2, h3, h4, h5, h6, strong {
    color: #fff;
  }
  blockquote {
    color: #e4e4e4;
  }
  .content a,
  .related-posts li a:hover ,
  .post-title,
  .page-title {
    color: #dcb179 !important
  }

  .sidebar {
    background-color: #1e1e1e !important;
  }
  .sidebar a{

  }
  body {
    color: #bebebe;
    background-color: #323232;
  }
  .related {
    border-top:5px solid #bebebe;
  }
}
