.katex { font-size: 1em; }
.copy {
  font-size:1em;
  float: right;
  border: 1px solid gray;
  padding: 3px;
  border-radius: 4px;
  transition: all 0.15s;
  cursor: pointer;
}
.visible {
  opacity: 1;
  user-select: auto;
  cursor: default;
}

.invisible {
  opacity: 0;
  user-select: none;
  cursor: default;
}
