<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <img src="{{ site.url }}/public/logo/königsberg.svg", style="height:3em;margin:auto">
      <h1>
          {{ site.title }}
      </h1>
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    <div style='margin-top:3em'>
      <p id='cctext' class="invisible" style='font-size:0.5em;  transition: all 0.5s; margin-bottom:0; padding-bottom:1rem'>Except where otherwise noted, the content in this site is licensed under a <span style="color:white">Creative Commons Attribution 4.0 International License</span>.</p>
      <a id='cctag' rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img style="border-width:0; display: inline-block; height:2em; margin:0" src="{{ site.url }}/public/cc icons/creative_commons.svg" /><img style="margin:0; border-width:0; display: inline-block; height:2em" src="{{ site.url }}/public/cc icons/person.svg" />
      </a>
      <script type="text/javascript">
        let text = document.getElementById('cctext')
        let tag = document.getElementById('cctag')
        tag.addEventListener('mouseover', () => {
          text.className = 'visible';
        })
        tag.addEventListener('mouseout', () => {
          text.className = 'invisible';
        })
      </script>
    </div>
  </div>
</div>
